<div class="container">
  <div class="row">

      <div class="card-deck">

        <div *ngFor="let item of items | paginate: { itemsPerPage: 12, currentPage: p }">
          <div class="card">
            <img class="card-img-top" src="src/assets/img/Avicii.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item.id}}</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center ">
        <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>